<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <a href="../Checkout/index2.html">
                <img class="close-btn" src="../../assets/image/cross.png" alt="close" />
            </a>
            <p class="header-title">Metode Pembayaran</p>
            <div></div>
        </div>

        <!-- kategori -->
        <div class="sec-w">
            <p class="sec-title">Pembayaran Virtual Payment</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>Mandiri Virtual Account</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>Danamon Virtual Account</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-w">
            <p class="sec-title">Pembayaran E-Wallet</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>OVO</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>LinkAja</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-w">
            <p class="sec-title">Pembayaran Virtual Payment</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>ShopeePay QRIS</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-w">
            <p class="sec-title">Pembayaran NicePay Payloan</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <div class="sec-item-l">
                        <div class="sec-item-img">
                            <img src="../../assets/image/mandiri.png" alt="mandiri" />
                        </div>
                        <div class="sec-item-r">
                            <p>Kredivo</p>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/image/arrow-next.png" alt="next" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="submit-w">
        <a href="../Checkout/index2.html">
            <button class="submit-btn">Pilih Metode Pembayaran</button>
        </a>
    </div>
</body>

</html>