<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <div style="z-index: 2;">
                <a href="../ProductListing/index.html">
                    <img class="h-back" src="../../assets/image/arrow-left.png" alt="">
                </a>
            </div>

            <div class="logo-row">
                <img class="h-logo" src="../../assets/image/logo.png" alt="laku6" />
            </div>
            <div class="h-buttons">
                <a href="../ProductListing/index.html">
                    <img class="h-cart" src="../../assets/image/cart.png" alt="cart" />
                </a>
                <img class="h-profile" src="../../assets/image/profile.png" alt="profile" />
            </div>
        </div>

        <!-- product image -->
        <div class="product-w">
            <div class="product-img-w">
                <img class="product-img" src="../../assets/image/item.png" alt="product" />
                <img class="product-img" src="../../assets/image/item.png" alt="product" />
            </div>
            <div class="img-indic">
                <p>1/6</p>
            </div>
        </div>

        <div class="product-desc">
            <div class="product-check">
                <img class="check-img" src="../../assets/image/check.png" alt="check" />
                <p>Lulus cek Laku6</p>
            </div>
            <div class="grade-w">
                <div class="grade">
                    <p>Ekonomis</p>
                </div>
            </div>
            <div class="price">
                <div>
                    <p class="main-price">Rp 2.429.000</p>
                    <div class="disc">
                        <div class="disc-percent">
                            <p>30%</p>
                        </div>
                        <p class="disc-stright">Rp. 2.800.000</p>
                    </div>
                </div>
                <div class="installment">
                    <p class="inst-price">Rp 800.000</p>
                    <p class="inst-price-month">/bulan</p>
                </div>
            </div>
            <div class="title">
                <p>Samsung Galaxy S20 Ultra 8GB/128GB Awesome Black</p>
            </div>
        </div>

        <div class="highlight">
            <p class="sec-title">Highlight</p>
            <div class="highlight-desc-item">
                <div class="item-row">
                    <p class="item-row-l">Grade</p>
                    <p class="item-row-r">Normal</p>
                </div>
                <div class="item-row">
                    <p class="item-row-l">Warna</p>
                    <p class="item-row-r">Awesome Black</p>
                </div>
                <div class="item-row">
                    <p class="item-row-l">Kondisi</p>
                    <p class="item-row-r">Bekas</p>
                </div>
                <div class="item-row">
                    <p class="item-row-l">Foto</p>
                    <p class="item-row-r">Foto Asli</p>
                </div>
                <div class="item-row">
                    <p class="item-row-l">IMEI</p>
                    <p class="item-row-r">123456789123</p>
                </div>
                <div class="item-row">
                    <p class="item-row-l">RAM / Penyimpanan</p>
                    <p class="item-row-r">8GB / 128GB</p>
                </div>
            </div>
        </div>

        <div class="collapse-w" onclick="toggleDetail()">
            <p>Detail Kondisi</p>
            <img class="" src="../../assets/image/arrow-down.png" alt="collapse" />
        </div>

        <div id="detail" class="content">
            <div class="detail">
                <p class="sec-title">Kondisi Fisik</p>
                <div class="highlight-desc-item">
                    <div class="item-row">
                        <p class="item-row-l">Semua bagian lengkap</p>
                        <p class="item-row-r">Ya</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Dapat dihidupkan</p>
                        <p class="item-row-r">Ya</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Kondisi fisik baterai</p>
                        <p class="item-row-r">Normal</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Ada retak di layar</p>
                        <p class="item-row-r">Normal</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Kondisi layar</p>
                        <p class="item-row-r">Normal</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Tes semua tombol</p>
                        <p class="item-row-r">Berfungsi normal</p>
                    </div>
                </div>
            </div>

            <div class="detail">
                <p class="sec-title">Kondisi Lain</p>
                <div class="highlight-desc-item">
                    <div class="item-row">
                        <p class="item-row-l">Disertai dus</p>
                        <p class="item-row-r">Tidak</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Stylus</p>
                        <p class="item-row-r">Tidak ada</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Nama penjual</p>
                        <p class="item-row-r">PT. Rebola Sukses Trading </p>
                    </div>
                </div>
            </div>

            <div class="detail">
                <p class="sec-title">Spesifikasi</p>
                <div class="highlight-desc-item">
                    <div class="item-row">
                        <p class="item-row-l">SIM</p>
                        <p class="item-row-r">Dual</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Kamera depan</p>
                        <p class="item-row-r">32 MP, f/2.2, 26mm (wide), 1/2.8″, 0.8</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Kamera belakang</p>
                        <p class="item-row-r">64 MP, f/1.8, 26mm (wide), 1/1.72″, 0.8??m, PDAF + 12 MP, f/2.2, 12mm
                            (ultrawide) + 5 MP, f/2.4, 25mm (macro), 1/5.0″, 1.12??m + 5 MP, f/2.2, (depth)</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Ukuran layar</p>
                        <p class="item-row-r">6.7" 1080x2400</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Sistem operasi</p>
                        <p class="item-row-r">Android 10.0; One UI 2</p>
                    </div>
                    <div class="item-row">
                        <p class="item-row-l">Kapasitas baterai</p>
                        <p class="item-row-r">Non-removable Li-Po 4500 mAh battery</p>
                    </div>
                </div>
            </div>

            <div class="detail-no-pad">
                <p class="sec-title hor-pad">Gambar Dent</p>
                <div class="scroll-hor hor-pad">
                    <img class="scroll-img" src="../../assets/image/item.png" alt="item" />
                    <img class="scroll-img" src="../../assets/image/item.png" alt="item" />
                    <img class="scroll-img" src="../../assets/image/item.png" alt="item" />
                </div>
            </div>

            <div class="detail">
                <div class="flex-between ">
                    <p class="sec-title">Ulasan Pembeli</p>
                    <p class="sec-sub">Lihat Semua</p>
                </div>
                <div class="flex-left">
                    <img class="star" src="../../assets/image/star.png" alt="Star" />
                    <div class="flex-end">
                        <p class="review-rate">4.9</p>
                        <p class="review-total">/ 200 ulasan</p>
                    </div>
                </div>
                <div class="review-item">
                    <div class="review-stars">
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                    </div>
                    <p class="review-username">Wanda Kurnia</p>
                    <p class="review-comment">Barang bagus, sesuai ekspektasi. Fungsi2 oke.
                        So far, it is all good. makasih Laku6. nanti beli
                        lagi.</p>
                </div>
                <div class="review-item">
                    <div class="review-stars">
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                        <img class="star" src="../../assets/image/star.png" alt="star" />
                    </div>
                    <p class="review-username">Wanda Kurnia</p>
                    <p class="review-comment">Barang bagus, sesuai ekspektasi. Fungsi2 oke.
                        So far, it is all good. makasih Laku6. nanti beli
                        lagi.</p>
                </div>
            </div>
        </div>


        <div class="collapse-w" onclick="toggleRelated()">
            <p>Produk Terkait</p>
            <img class="" src="../../assets/image/arrow-down.png" alt="collapse" />
        </div>

        <div id="related" class="content">
            <div class="product-related">
                <p class="sec-title hor-pad">Barang yang mungkin kamu tertarik</p>
                <div class="scroll-hor hor-pad">
                    <div class="p-item">
                        <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                        <div class="p-grade-w">
                            <div class="p-grade">
                                <p>Ekonomis</p>
                            </div>
                        </div>
                        <div class="p-item-des">
                            <p class="p-item-title">Apple iPhone 11 Pro 8GB/64GB Black</p>
                            <p class="p-item-price">Rp 2.495.000</p>
                            <div class="p-item-disc-w">
                                <div class="p-item-disc">
                                    <p class="p-item-disc-text">30%</p>
                                </div>
                                <p class="p-item-disc-then">Rp 3.000.000</p>
                            </div>
                            <div class="p-item-warr">
                                <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                                <p class="p-item-warr-text">Garansi</p>
                            </div>
                            <div class="p-item-review-w">
                                <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                                <p class="p-item-review-text">4.9 | Terjual 100+</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                        <div class="p-grade-w">
                            <div class="p-grade">
                                <p>Ekonomis</p>
                            </div>
                        </div>
                        <div class="p-item-des">
                            <p class="p-item-title">Apple iPhone 11 Pro 8GB/64GB Black</p>
                            <p class="p-item-price">Rp 2.495.000</p>
                            <div class="p-item-disc-w">
                                <div class="p-item-disc">
                                    <p class="p-item-disc-text">30%</p>
                                </div>
                                <p class="p-item-disc-then">Rp 3.000.000</p>
                            </div>
                            <div class="p-item-warr">
                                <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                                <p class="p-item-warr-text">Garansi</p>
                            </div>
                            <div class="p-item-review-w">
                                <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                                <p class="p-item-review-text">4.9 | Terjual 100+</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                        <div class="p-grade-w">
                            <div class="p-grade">
                                <p>Ekonomis</p>
                            </div>
                        </div>
                        <div class="p-item-des">
                            <p class="p-item-title">Apple iPhone 11 Pro 8GB/64GB Black</p>
                            <p class="p-item-price">Rp 2.495.000</p>
                            <div class="p-item-disc-w">
                                <div class="p-item-disc">
                                    <p class="p-item-disc-text">30%</p>
                                </div>
                                <p class="p-item-disc-then">Rp 3.000.000</p>
                            </div>
                            <div class="p-item-warr">
                                <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                                <p class="p-item-warr-text">Garansi</p>
                            </div>
                            <div class="p-item-review-w">
                                <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                                <p class="p-item-review-text">4.9 | Terjual 100+</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                        <div class="p-grade-w">
                            <div class="p-grade">
                                <p>Ekonomis</p>
                            </div>
                        </div>
                        <div class="p-item-des">
                            <p class="p-item-title">Apple iPhone 11 Pro 8GB/64GB Black</p>
                            <p class="p-item-price">Rp 2.495.000</p>
                            <div class="p-item-warr">
                                <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                                <p class="p-item-warr-text">Garansi</p>
                            </div>
                            <div class="p-item-review-w">
                                <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                                <p class="p-item-review-text">4.9 | Terjual 100+</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-item">
                        <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                        <div class="p-grade-w">
                            <div class="p-grade">
                                <p>Ekonomis</p>
                            </div>
                        </div>
                        <div class="p-item-des">
                            <p class="p-item-title">Apple iPhone 11 Pro 8GB/64GB Black</p>
                            <p class="p-item-price">Rp 2.495.000</p>
                            <div class="p-item-warr">
                                <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                                <p class="p-item-warr-text">Garansi</p>
                            </div>
                            <div class="p-item-review-w">
                                <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                                <p class="p-item-review-text">4.9 | Terjual 100+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">

        </div>

        <div class="submit-w">
            <a href="../Checkout/index.html">
                <button class="submit-btn">Beli</button>
            </a>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>