<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <a href="../ProductListing/index.html">
                <img class="close-btn" src="../../assets/image/cross.png" alt="close" />
            </a>
            <p class="header-title">Filter</p>
            <div></div>
        </div>

        <!-- kategori -->
        <div class="sec-w">
            <p class="sec-title">Kategori</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Smathphone</p>
                </div>
                <div class="sec-item">
                    <p>Laptop</p>
                </div>
                <div class="sec-item">
                    <p>Accessories</p>
                </div>
                <div class="sec-item">
                    <p>TV</p>
                </div>
                <div class="sec-item">
                    <p>Tablet</p>
                </div>
                <div class="sec-item">
                    <p>Console</p>
                </div>
            </div>
        </div>

        <!-- brand -->
        <div class="sec-w">
            <p class="sec-title">Brand</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Samsung</p>
                </div>
                <div class="sec-item">
                    <p>Apple</p>
                </div>
                <div class="sec-item">
                    <p>Xiaomi</p>
                </div>
            </div>
        </div>

        <!-- model -->
        <div class="sec-w">
            <p class="sec-title">Model</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Galaxy M20</p>
                </div>
                <div class="sec-item">
                    <p>iPhone 11 Pro</p>
                </div>
                <div class="sec-item">
                    <p>Redmi Note 10 Pro</p>
                </div>
            </div>
        </div>

        <!-- grade -->
        <div class="sec-w">
            <p class="sec-title">Grade</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Mulus</p>
                </div>
                <div class="sec-item">
                    <p>Ekonomis</p>
                </div>
                <div class="sec-item">
                    <p>Spoil Screen</p>
                </div>
            </div>
        </div>

        <!-- garansi -->
        <div class="sec-w">
            <p class="sec-title">Garansi</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Masih Garansi</p>
                </div>
                <div class="sec-item">
                    <p>Tidak Garansi</p>
                </div>
            </div>
        </div>

        <!-- urutkan -->
        <div class="sec-w">
            <p class="sec-title">Urutkan</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p>Tahun Terlama - Terbaru</p>
                </div>
                <div class="sec-item">
                    <p>Tahun Terbaru - Terlama</p>
                </div>
                <div class="sec-item">
                    <p>Harga Termurah</p>
                </div>
                <div class="sec-item">
                    <p>Harga Termahal</p>
                </div>
            </div>
        </div>

        <!-- harga -->
        <div class="sec-w">
            <p class="sec-title">Harga</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <p class="bold">Rp.</p>
                    <input class="sec-item-input" type="text" id="lowest" name="lowest" placeholder="Terendah">
                </div>
                <div class="sec-item">
                    <p class="bold">Rp.</p>
                    <input class="sec-item-input" type="text" id="highest" name="highest" placeholder="Tertinggi">
                </div>
            </div>
        </div>

        <div class="submit-w">
            <a href="../ProductListing/index.html">
                <button class="submit-btn">Tampilkan</button>
            </a>
        </div>
    </div>
</body>

</html>