@font-face {
    font-family: lato;
    src: url(../../assets/font/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(../../assets/font/Lato-Bold.ttf);
}

@font-face {
    font-family: latoBlack;
    src: url(../../assets/font/Lato-Black.ttf);
}

.wrapper {
    font-family: lato;
    font-size: 14px;
    color: #545454;
    max-width: 500px;
    flex: 1;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    box-shadow: 0px 1px 5px #DADADA;
}

.header-title {
    font-family: latoBold;
    font-size: 16px;
}

.close-btn {
    height: 12px;
}

.sec-w {
    padding: 16px 16px 0 16px;
}

.sec-title {
    font-size: 16px;
    font-family: latoBold;
}

.sec-item-w {
    display: flex;
    flex-direction: row;
    padding: 12px 0 0 0;
    flex-wrap: wrap;
}

.sec-item {
    padding: 6px 10px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    margin: 0 12px 12px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec-item-input {
    margin: 4px;
    max-width: 100px;
}

.sec-item-input:focus {
    outline: none;
}

.bold {
    font-family: latoBold;
}

.submit-w {
    padding: 12px 16px 16px 16px;
    position: sticky;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
}

.submit-btn {
    background-color: #4D8C1F;
    color: white;
    width: 100%;
    border-radius: 6px;
    font-family: latoBold;
    font-size: 16px;
    padding: 8px;
}