<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <a href="../Checkout/index2.html">
                <img class="close-btn" src="../../assets/image/cross.png" alt="close" />
            </a>
            <p class="header-title">Alamat Pengiriman</p>
            <div></div>
        </div>

        <!-- detail tagihan -->
        <div class="sec-w">
            <p class="sec-title">Detail Tagihan</p>
            <div class="sec-item-w">
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="lowest" name="firstName" placeholder="Nama Depan">
                </div>
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="lastName" placeholder="Nama Belakang">
                </div>
            </div>
        </div>

        <!-- address -->
        <div class="sec-w">
            <p class="sec-title">Alamat</p>
            <div class="sec-item-w-col">
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="address"
                        placeholder="Nomor rumah dan nama jalan">
                </div>
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="city" placeholder="Kota">
                </div>
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="province" placeholder="Provinsi">
                </div>
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="postalCode" placeholder="Kode POS">
                </div>
            </div>
        </div>

        <!-- kontak -->
        <div class="sec-w">
            <p class="sec-title">Kontak</p>
            <div class="sec-item-w-col">
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="phone" placeholder="Nomor Telepon">
                </div>
                <div class="sec-item">
                    <input class="sec-item-input" type="text" id="highest" name="email" placeholder="Email">
                </div>
            </div>
        </div>
    </div>

    <div class="submit-w">
        <a href="../Checkout/index2.html">
            <button class="submit-btn">Tampilkan</button>
        </a>
    </div>
</body>

</html>