<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <!-- header -->
            <div class="header">
                <div style="z-index: 2;">
                    <a href="../ProductDetail/index.html">
                        <img class="close-btn" src="../../assets/image/arrow-left.png" alt="close" />
                    </a>
                </div>
                <div class="logo-row">
                    <img class="h-logo" src="../../assets/image/logo.png" alt="laku6" />
                </div>
            </div>

            <div class="sec-w">
                <!-- item to buy -->
                <p class="sec-title">Barang yang dibeli</p>
                <div class="item-w">
                    <div class="item">
                        <div class="item-cont">
                            <img class="item-img" src="../../assets/image/item.png" alt="item" width="auto"
                                height="auto" />
                            <div class="item-des">
                                <p class="item-title">Samsung Galaxy M20 8GB/128GB Awesome Black Mulus</p>
                                <div class="item-price">
                                    <div class="price-disc-w">
                                        30%
                                    </div>
                                    <p class="price-disc">Rp 2.800.000</p>
                                    <p class="price">Rp 2.450.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="item-action">
                            <div class="item-remove">
                                <img class="remove-img" src="../../assets/image/trash.png" alt="remove item" />
                                <p class="remove">Hapus item</p>
                            </div>
                            <div class="item-total">
                                <p class="total">1 item</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-cont">
                            <img class="item-img" src="../../assets/image/item.png" alt="item" width="auto"
                                height="auto" />
                            <div class="item-des">
                                <p class="item-title">Samsung Galaxy M20 8GB/128GB Awesome Black Mulus</p>
                                <div class="item-price">
                                    <div class="price-disc-w">
                                        30%
                                    </div>
                                    <p class="price-disc">Rp 2.800.000</p>
                                    <p class="price">Rp 2.450.000</p>
                                </div>
                            </div>
                        </div>
                        <div class="item-action">
                            <div class="item-remove">
                                <img class="remove-img" src="../../assets/image/trash.png" alt="remove item" />
                                <p class="remove">Hapus item</p>
                            </div>
                            <div class="item-total">
                                <p class="total">1 item</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- add ons -->
            <div class="addon-w">
                <div class="addon" style="margin-bottom: 16px;">
                    <div class="checkbox-w">
                        <div class="checkbox"></div>
                    </div>
                    <div class="addon-desc">
                        <p class="addon-title">Proteksi</p>
                        <p class="addon-sub">Screen crack protection, water damage protection</p>
                    </div>
                </div>
                <div class="addon">
                    <div class="checkbox-w">
                        <div class="checkbox"></div>
                    </div>
                    <div class="addon-desc">
                        <p class="addon-title">Proteksi+</p>
                        <p class="addon-sub">Screen crack protection, water damage protection, easy upgrade, installment
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- submit -->
        <div class="submit-w">
            <div>
                <p class="submit-desc">Total Harga</p>
                <p class="submit-price">Rp 5.300.000</p>
            </div>
            <div>
                <a href="../ProductListing/index.html">
                    <button class="submit-btn">Lanjut</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>