<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Beli Laku6</title>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <img class="h-logo" src="../../assets/image/logo-simple.png" alt="laku6" />
            <div class="h-search-w">
                <img class="h-magni" src="../../assets/image/magnifier.png" alt="magnifier" />
                <input class="h-search" type="text" id="fname" name="search" placeholder="Cari di Laku6">
            </div>
            <div class="h-buttons">
                <img class="h-cart" src="../../assets/image/cart.png" alt="cart" />
                <img class="h-profile" src="../../assets/image/profile.png" alt="profile" />
            </div>
        </div>

        <!-- breadcrumb -->
        <div class="breadcrumb">
            <p class="bc-item">Homepage</p>
            <p class="bc-item bc-div">></p>
            <p class="bc-item">"Samsung Galaxy iPhone"</p>
        </div>

        <!-- filters -->
        <div class="filters">
            <a href="../Filter/index.html">
                <div id="filter-menu" class="f-item" style="margin-left: 16px;">
                    <p>Filter</p>
                    <div class="f-badge-w">
                        <p class="f-badge">12</p>
                    </div>
                </div>
            </a>
            <div id="f-smartphone" class="f-item" onclick="clickFilter()">
                <p>Smartphones</p>
            </div>
            <div id="f-laptop" class="f-item">
                <p>Laptop</p>
            </div>
            <div id="f-ekonomis" class="f-item-active">
                <p>Ekonomis</p>
            </div>
            <div id="f-samsung" class="f-item">
                <p>Samsung</p>
            </div>
            <div id="f-asus" class="f-item">
                <p>Asus</p>
            </div>
        </div>

        <!-- product listing -->
        <div class="products">
            <a href="../ProductDetail/index.html">
                <div class="p-item">
                    <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                    <div class="p-grade-w">
                        <div class="p-grade">
                            <p>Ekonomis</p>
                        </div>
                    </div>
                    <div class="p-item-des">
                        <p class="p-item-title">Samsung Galaxy S20 Ultra 32GB/128GB Awesome Black</p>
                        <p class="p-item-price">Rp 2.495.000</p>
                        <div class="p-item-disc-w">
                            <div class="p-item-disc">
                                <p class="p-item-disc-text">30%</p>
                            </div>
                            <p class="p-item-disc-then">Rp 3.000.000</p>
                        </div>
                        <div class="p-item-warr">
                            <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                            <p class="p-item-warr-text">Garansi</p>
                        </div>
                        <div class="p-item-review-w">
                            <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                            <p class="p-item-review-text">4.9 | Terjual 100+</p>
                        </div>
                    </div>
                </div>
            </a>

            <div class="p-item">
                <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                <div class="p-grade-w">
                    <div class="p-grade">
                        <p>Ekonomis</p>
                    </div>
                </div>
                <div class="p-item-des">
                    <p class="p-item-title">Apple iPhone 11 8/128GB Black</p>
                    <p class="p-item-price">Rp 2.495.000</p>
                    <!-- <div class="p-item-disc-w">
                    <div class="p-item-disc">
                        <p class="p-item-disc-text">30%</p>
                    </div>
                    <p class="p-item-disc-then">Rp 3.000.000</p>
                </div> -->
                    <div class="p-item-warr">
                        <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                        <p class="p-item-warr-text">Garansi</p>
                    </div>
                    <div class="p-item-review-w">
                        <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                        <p class="p-item-review-text">4.9 | Terjual 100+</p>
                    </div>
                </div>
            </div>

            <div class="p-item">
                <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                <div class="p-grade-w">
                    <div class="p-grade">
                        <p>Ekonomis</p>
                    </div>
                </div>
                <div class="p-item-des">
                    <p class="p-item-title">Samsung Galaxy S20 Ultra 32GB/128GB Awesome Black</p>
                    <p class="p-item-price">Rp 2.495.000</p>
                    <div class="p-item-disc-w">
                        <div class="p-item-disc">
                            <p class="p-item-disc-text">30%</p>
                        </div>
                        <p class="p-item-disc-then">Rp 3.000.000</p>
                    </div>
                    <div class="p-item-warr">
                        <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                        <p class="p-item-warr-text">Garansi</p>
                    </div>
                    <div class="p-item-review-w">
                        <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                        <p class="p-item-review-text">4.9 | Terjual 100+</p>
                    </div>
                </div>
            </div>

            <div class="p-item">
                <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                <div class="p-grade-w">
                    <div class="p-grade">
                        <p>Ekonomis</p>
                    </div>
                </div>
                <div class="p-item-des">
                    <p class="p-item-title">Samsung Galaxy M20 32GB/128GB Black</p>
                    <p class="p-item-price">Rp 2.495.000</p>
                    <!-- <div class="p-item-disc-w">
                    <div class="p-item-disc">
                        <p class="p-item-disc-text">30%</p>
                    </div>
                    <p class="p-item-disc-then">Rp 3.000.000</p>
                </div> -->
                    <div class="p-item-warr">
                        <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                        <p class="p-item-warr-text">Garansi</p>
                    </div>
                    <div class="p-item-review-w">
                        <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                        <p class="p-item-review-text">4.9 | Terjual 100+</p>
                    </div>
                </div>
            </div>

            <div class="p-item">
                <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                <div class="p-grade-w">
                    <div class="p-grade">
                        <p>Ekonomis</p>
                    </div>
                </div>
                <div class="p-item-des">
                    <p class="p-item-title">Samsung Galaxy S20 Ultra 32GB/128GB Awesome Black</p>
                    <p class="p-item-price">Rp 2.495.000</p>
                    <div class="p-item-disc-w">
                        <div class="p-item-disc">
                            <p class="p-item-disc-text">30%</p>
                        </div>
                        <p class="p-item-disc-then">Rp 3.000.000</p>
                    </div>
                    <div class="p-item-warr">
                        <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                        <p class="p-item-warr-text">Garansi</p>
                    </div>
                    <div class="p-item-review-w">
                        <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                        <p class="p-item-review-text">4.9 | Terjual 100+</p>
                    </div>
                </div>
            </div>

            <div class="p-item">
                <img class="p-item-img" src="../../assets/image/item.png" alt="Item" />
                <div class="p-grade-w">
                    <div class="p-grade">
                        <p>Ekonomis</p>
                    </div>
                </div>
                <div class="p-item-des">
                    <p class="p-item-title">Samsung Galaxy S20 Ultra 32GB/128GB Awesome Black</p>
                    <p class="p-item-price">Rp 2.495.000</p>
                    <div class="p-item-disc-w">
                        <div class="p-item-disc">
                            <p class="p-item-disc-text">30%</p>
                        </div>
                        <p class="p-item-disc-then">Rp 3.000.000</p>
                    </div>
                    <div class="p-item-warr">
                        <img class="p-item-warr-img" src="../../assets/image/warranty.png" alt="warranty" />
                        <p class="p-item-warr-text">Garansi</p>
                    </div>
                    <div class="p-item-review-w">
                        <img class="p-item-review-img" src="../../assets/image/star.png" alt="review" />
                        <p class="p-item-review-text">4.9 | Terjual 100+</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="./script.js"></script>
</body>

</html>