@font-face {
    font-family: lato;
    src: url(../../assets/font/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(../../assets/font/Lato-Bold.ttf);
}

@font-face {
    font-family: latoBlack;
    src: url(../../assets/font/Lato-Black.ttf);
}

.wrapper {
    font-family: lato;
    font-size: 14px;
    color: #545454;
    max-width: 500px;
    flex: 1;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 16px;
    box-shadow: 0px 1px 5px #DADADA;
}

.h-logo {
    height: 26px;
    padding: 0 8px;
    margin-right: 8px;
}

.h-search-w {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid #DADADA;
    border-radius: 6px;
    max-height: 30px;
    flex: 1 1 auto;
}

.h-magni {
    height: 14px;
    margin-right: 8px;
}

.h-search {
    width: 100%;
}

.h-search:focus {
    outline: none;
}

.h-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 8px;
}

.h-cart {
    height: 20px;
    padding: 0 8px;
}

.h-profile {
    height: 20px;
    padding: 0 8px;
}

.breadcrumb {
    margin-top: 15px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
}

.bc-item {
    font-size: 12px;
    color: #545454;
}

.bc-div {
    margin: 0px 8px;
}

.filters {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    padding: 10px 0;
    overflow: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.f-item {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    padding: 4px 8px;
    border: 0.5px solid #979797;
    border-radius: 6px;
}

.f-item-active {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid #4D8C1F;
    border-radius: 6px;
    background-color: #E7FFC6;
    color: #4D8C1F;
}

.f-badge-w {
    background-color: #4D8C1F;
    border-radius: 50px;
    padding: 0px 8px 0.5px 8px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-badge {
    color: white;
    font-size: 12px;
}

.products {
    padding: 0px 16px;
    column-count: 2;
    column-gap: 10px;
}

.p-item {
    border: 1px solid #DADADA;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    margin-bottom: 10px;
    max-width: 234px;
}

.p-item-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.p-grade-w {
    display: flex;
    flex-direction: row;
}

.p-grade {
    padding: 2px 12px 2px 8px;
    background-color: #BFC766;
    color: white;
    font-size: 10px;
    margin-top: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.p-item-des {
    padding: 4px 8px 12px 8px;
    font-size: 12px;
}

.p-item-title {}

.p-item-price {
    font-family: latoBold;
    margin: 2px 0;
}

.p-item-disc-w {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p-item-disc {
    padding: 2px 6px;
    border-radius: 2px;
    background-color: #ED2939;
    margin: 2px 4px 0px 0px;
}

.p-item-disc-text {
    font-size: 10px;
    color: white;
}

.p-item-disc-then {
    font-size: 10px;
    color: #979797;
    text-decoration: line-through;
}

.p-item-warr {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}

.p-item-warr-img {
    height: 14px;
    margin-right: 2px;
}

.p-item-warr-text {
    font-size: 10px;
    color: #979797;
}

.p-item-review-w {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.p-item-review-img {
    height: 14px;
    margin-right: 2px;
}

.p-item-review-text {
    font-size: 10px;
    color: #979797;
}